<p>Your friends are not showing up in the table? Tell them to create a Mastodon account and then sign in on this website using both Twitter and Mastodon.</p>

<p>
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=<%= URI.encode('Find your friends on #Mastodon') %>&url=<%= root_url %>" data-size="large">Tweet</a>
</p>

<h4>Friends</h4>

<%= render 'table', collection: @friends %>

<h4>Followers</h4>

<%= render 'table', collection: @followers %>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
