@import url('https://fonts.googleapis.com/css?family=Quando|Judson|Montserrat:500|Roboto:400,500');

$white:    #fff    !default; // color5
$lightest: #d9e1e8 !default; // color2
$lighter:  #9baec8 !default; // color3
$darkest:  #1F232B !default; // color1
$black:    #000    !default; // color8
$darker:   lighten($darkest, 30%);

$vibrant:  #2b90d9 !default; // color4
$error:    #df405a !default; // color6
$success:  #79bd9a !default; // color7

$transition-in: 100ms linear;
$transition-out: 250ms linear;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #282c37;
  color: #9baec8;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 10px;
}

a {
  color: lighten(#2b90d9, 4%);

  &:hover, &:focus, &:active {
    color: lighten(#2b90d9, 8%);
  }
}

hr {
  border: 0;
  background: none;
  border-bottom: 1px solid lighten(#282c37, 8%);
  margin: 30px 0;
}

.toot-friend img {
  display: block;
  margin: 0 auto;
}

p.lead {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

.flash-message {
  background: darken(#282c37, 8%);
  color: #9baec8;
  border-radius: 4px;
  padding: 15px 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 5px rgba(#000, 0.2);
  text-align: center;

  strong {
    font-weight: 500;
  }
}

.buttons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  li {
    display: block;
    margin: 0 5px;
  }
}

.button, a.button {
  background-color: darken(#2b90d9, 3%);
  font-family: inherit;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  border: 10px none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 0 16px;
  height: 36px;
  cursor: pointer;
  line-height: 36px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 100ms ease-in;

  &:hover, &:active, &:focus {
    background-color: lighten(#2b90d9, 7%);
    transition: all 200ms ease-out;
  }

  &:disabled, &.disabled {
    background-color: #9baec8;
    cursor: default;
  }
}

.footer {
  text-align: center;
  color: lighten(#282c37, 26%);

  a {
    color: inherit;
  }
}

.info-area {
  margin-bottom: 20px;
  background: darken(#282c37, 8%);
  padding: 20px 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;

  li {
    margin-bottom: 5px;
  }

  strong {
    font-weight: 500;
  }
}

h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #fff;
}

.user-map {
  margin-bottom: 10px;
  display: flex;
  line-height: 36px;

  & > div {
    flex: 0 0 auto;
  }

  .twitter {
    width: 150px;
  }

  .to {
    width: 30px;
    margin: 0 20px;
  }

  .mastodon {
    width: 200px;
  }

  .follow {
    flex: 1 1 auto;
    text-align: right;
  }
}

.header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;

  ul {
    list-style: none;

    li {
      display: inline-block;
      vertical-align: bottom;
    }

    a {
      display: flex;
      align-content: center;
      align-items: center;

      color: $lighter;
      text-decoration: none;
      padding: 12px 16px;
      line-height: 32px;
      transition: color $transition-out;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;

      img.link-logo {
        width: 32px;
        height: 32px;
        opacity: 0.5;
        transition: opacity $transition-out;

        &.before {
          margin-right: 10px;
        }

        &.after {
          margin-left: 10px;
        }
      }

      &.active, &:hover {
        color: $lightest;
        transition: color $transition-in;

        img.link-logo {
          opacity: 0.8;
          transition: opacity $transition-in;
        }
      }

      &.brand {
        color: $white;

        img {
          width: auto;
          height: 32px;
          opacity: 1;
          position: relative;
          top: 4px;
        }

        &:hover {
          border-bottom-color: transparent;

          img {
            opacity: 1;
          }
        }
      }
    }

    li:first-child a {
      padding-left: 0;
    }

    li:last-child a {
      padding-right: 0;
    }
  }
}

.page-heading {
  background: darken($darkest, 4%);
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;

  &.bottomless {
    border-radius: 10px 10px 0 0;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;

    small {
      font-family: 'Roboto', sans-serif;
      margin-top: 20px;
      display: block;
      color: $lighter;
      font-size: 18px;
    }
  }
}

.connections {
  li {
    padding: 0 10px;
    display: flex;
    margin-bottom: 15px;
  }

  .connection-brand {
    width: 80px;
    height: 80px;

    img {
      display: block;
      margin: 0;
    }

    &.twitter {
      img {
        width: 80px;
        height: 80px;
      }
    }

    &.mastodon {
      background: #3088d4;

      img {
        width: 60px;
        height: 60px;
        margin: 10px;
      }
    }
  }

  .connection-info {
    margin-left: 15px;

    strong {
      font-weight: 500;
    }

    .connection-disconnect-link {
      display: block;
    }
  }
}

.login-buttons {
  display: flex;
  margin-bottom: 30px;

  & > a, & > div {
    flex: 1 0 0;
    color: #fff;
    display: flex;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;

    &:first-child {
      margin-right: 10px;
    }
  }

  .login-brand {
    width: 80px;
    height: 80px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  .login-content {
    padding: 18px 10px;
  }

  .login-numbers, .login-name {
    strong {
      font-weight: 500;
    }
  }

  .twitter {
    background: #1da1f2;
  }

  .mastodon {
    background: #3088d4;

    .login-brand img {
      width: 60px;
      height: 60px;
      margin: 10px;
    }
  }

  a.twitter:hover {
    background: lighten(#1da1f2, 4%);
  }

  a.mastodon:hover {
    background: lighten(#3088d4, 4%);
  }
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.instance-card {
  display: block;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  background-color: darken($darkest, 4%);
  background-size: cover;
  background-position: center;
  padding-top: 110px;
  margin-bottom: 20px;
  flex: 1 1 auto;
  max-width: 300px;
  width: calc(50% - 10px);
  margin-right: 10px;

  &:nth-child(even) {
    margin-right: 0;
  }

  .info {
    background: linear-gradient(0deg, rgba(#000, 0.8) 0, rgba(#000, 0.35) 60%, transparent);
    padding: 10px;
    padding-top: 40px;
    border-radius: 0 0 10px 10px;
  }

  .title {
    font-weight: 500;
    color: $lightest;
    display: block;
  }

  &:hover,
  &:focus,
  &:active {
    color: $lightest;

    .title {
      color: #fff;
    }
  }
}

.user-card {
  display: block;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  max-width: 300px;
  width: calc(50% - 10px);
  margin-bottom: 20px;
  margin-right: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 10px;

  &:nth-child(even) {
    margin-right: 0;
  }

  .avatar {
    width: 60px;
    height: 60px;
    background: darken($darkest, 4%);
    border-radius: 50%;
    overflow: hidden;

    img {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .following-indicator {
    position: absolute;
    width: 25px;
    height: 25px;
    background: $vibrant;
    color: $white;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    line-height: 25px;
    bottom: 5px;
    box-shadow: 3px -3px 6px rgba(#000, 0.3);
  }

  .name {
    margin-left: 10px;
  }

  .display-name {
    font-weight: 500;
    color: $lightest;
    display: block;
  }

  &:hover,
  &:focus,
  &:active {
    color: $lightest;

    .display-name {
      color: #fff;
    }
  }
}

.empty-message {
  margin-bottom: 20px;
}

.pagination {
  text-align: center;
  margin-bottom: 20px;

  a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
  }
}

.connect-prompt {
  background: $vibrant;
  margin-top: -30px;
  margin-bottom: 30px;
  color: $white;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  text-align: center;

  a {
    color: $white;
    font-weight: 500;
  }
}
